<div class="welcome-container">
  <p><%= t("sessions.show.account_created") %></p>
  <div class="user-details">
    <p><strong><%= t("sessions.show.email") %>:</strong> <%= @user.email %></p>
  </div>
</div>
