<p><%= t("user_mailer.password_reset_confirmation.greeting", name: @user.name) %></p>
<p>
  <%= t("user_mailer.password_reset_confirmation.body_html") %>
  <a href="<%= @login_url %>"><u><%= t("user_mailer.password_reset_confirmation.link_text") %></u></a>
</p>
