<h1>Password Changed</h1>

<p>Hi <%= @user.name %>,</p>

<p>You just changed your password. Sign in again so we know it's you!</p>

<p><%= link_to "Click here", @login_url %></p>

<p>This link will take you to the login page.</p>
